.template-main-view {
    /* height: 100vh;
    width: 100vw;
    overflow-y: scroll; */
    /* background: #FFF8E0; */
    /* background: var(--grey-bg-color) */
}

.preview-main {
    /* padding: 100px 60px; */
    border-radius: 20px;
    text-align: center;
    /* max-width: 800px; */
}

.template-panel {
    margin-right: 30px;
    margin-bottom: 100px;
    /* padding-top: 100px; */
    max-width: 900px;
    margin: auto;
    text-align: center;
    /* border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; */
    border: 2px solid var(--border-color);
    border-top: none;
    background: #fff;
    /* background: #f6f6f6c7; */
    /* background-color: #fff; */
    /* background: linear-gradient(340deg, #3f51b5, #3f51b5, #673ab7); */
    /* background: linear-gradient(340deg, #ffeb3b, #9c27b0); */
}

.template-section-title {
    font-size: 2rem;
    color: #3F51B5;
}

.template-tools ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.template-tools ul li {
    border: 2px solid var(--border-color);
    width: min-content;
    padding: 0 10px;
    margin: 10px;
    white-space: nowrap;
    border-radius: 20px;
    font-weight: bold;
}

.template-workplaces {}

details {
    margin-bottom: 20px;
}

summary {
    /* margin: 10px 0; */
    /* margin-top: 20px; */
    background: #f1f1f1;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

summary:hover {
    background: var(--border-color);
}

summary p {
    display: block;
    margin-top: 20px;
    background: #000;
}

.template-panel section {
    padding: 0 100px;
}

.avatar-container {
    margin-top: -100px;
}

/* #avatar-lg {
    border: 10px solid #fff;
} */

.template-banner {
    background: #f1f1f1;
    height: 250px;
}

@media screen and (max-width:768px) {

    .template-panel section {
        padding: 20px;
        /* padding-top: 70px; */
    }

    .template-main-view {
        padding: 10px
    }

    .template-panel h1 {
        line-height: 60px;
    }
}